@media screen and (max-width: 1024px) {
  .m-20 {
    padding: 0 20px; } }

.title {
  font-size: 13rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold; }

@keyframes aniScroll {
  from {
    transform: translateX(10px); }
  to {
    transform: translateX(-10px); } }

@keyframes animateScale {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }

span.arrowLeft {
  display: block;
  width: 15px;
  height: 15px;
  border-top: 4px solid #333333;
  border-left: 4px solid #333333;
  transform: rotate(-45deg); }

span.arrowRight {
  display: block;
  width: 15px;
  height: 15px;
  border-top: 4px solid #333333;
  border-right: 4px solid #333333;
  transform: rotate(45deg); }

.container {
  max-width: 1120px;
  margin: auto;
  width: 100%; }

img {
  display: block; }

.m-20 {
  max-width: 1320px;
  width: 100%;
  margin: auto; }

.bg-content {
  background-color: #3089b8;
  display: flex;
  justify-content: space-between;
  padding: 80.5px 0; }
  .bg-content .content {
    width: 50%; }
  .bg-content .title {
    max-width: 570px;
    width: 100%;
    color: white; }
  .bg-content .content {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .bg-content .content p {
      max-width: 545px;
      width: 100%;
      font-size: 1.6rem;
      color: white; }
  .bg-content .content:first-of-type {
    justify-content: flex-end; }

a {
  text-decoration: none;
  transition: 0.3s ease-in-out; }
  a:hover {
    opacity: 0.8; }

.footer__linkto a {
  text-decoration: underline; }

a.btn-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 420px;
  width: 100%;
  height: 90px; }
  a.btn-button span {
    font-size: 2.4rem;
    font-weight: bold; }
  a.btn-button img {
    transition: 0.5s ease-in-out; }
  a.btn-button:hover img {
    transform: translateX(20px); }

.mv-slide-top {
  position: relative; }
  .mv-slide-top .scroll {
    cursor: pointer;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 33px;
    right: -10px;
    z-index: 100;
    display: flex;
    justify-content: space-between; }
    .mv-slide-top .scroll span {
      font-size: 1.6rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: white; }
    .mv-slide-top .scroll .img-scroll {
      animation: aniScroll 2s infinite;
      margin-right: 24px; }
  .mv-slide-top .text-title-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1220px;
    width: 100%;
    padding: 0 20px; }
  .mv-slide-top .name {
    position: absolute;
    bottom: 70px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: white; }
  .mv-slide-top .slide-content .content.active {
    animation: animateScale 25s alternate; }
  .mv-slide-top .slide-content .content {
    position: relative; }
    .mv-slide-top .slide-content .content img {
      width: 100%; }
    .mv-slide-top .slide-content .content::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(27, 132, 192, 0.548);
      z-index: 1;
      content: ""; }

.what .what-content-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  width: 100%;
  margin: auto; }
  .what .what-content-main .content {
    transform: translateY(-60px);
    max-width: 440px;
    width: 100%; }
    .what .what-content-main .content .text-body {
      padding: 40px 20px 0 20px; }
      .what .what-content-main .content .text-body p {
        line-height: 25px; }
    .what .what-content-main .content .img {
      position: relative; }
      .what .what-content-main .content .img img {
        width: 100%;
        display: block; }
      .what .what-content-main .content .img .title-what {
        background-color: white;
        width: 180px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1.8rem;
        color: #333333; }

.what .btn-button {
  transform: translateY(-25px);
  margin: auto;
  margin-bottom: 35px;
  background-color: #333333;
  color: white;
  padding: 0 33px 0 40px; }

.what .what-case {
  max-width: 1320px;
  width: 100%;
  margin: auto;
  margin-bottom: 80px; }
  .what .what-case .case-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #eeeeee;
    padding: 16px; }
    .what .what-case .case-content .img {
      width: 29%; }
      .what .what-case .case-content .img img {
        width: 100%; }
    .what .what-case .case-content .content {
      width: 71%;
      max-width: 820px;
      width: 100%;
      margin: auto;
      padding: 0 20px; }
      .what .what-case .case-content .content .case {
        font-size: 2.4rem;
        color: #3089b8;
        font-weight: bold;
        font-family: "Montserrat", sans-serif; }
        .what .what-case .case-content .content .case span {
          font-size: 2.4rem;
          color: #333333;
          font-weight: bold;
          font-family: "Montserrat", sans-serif; }
      .what .what-case .case-content .content .text {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .what .what-case .case-content .content .text span {
          font-size: 3.8rem;
          font-weight: bold;
          color: #333333;
          margin-left: 20px; }
        .what .what-case .case-content .content .text img {
          transition: 0.5s ease-in-out; }
      .what .what-case .case-content .content .small {
        color: #333333; }
    .what .what-case .case-content:hover .text img {
      transform: translateX(20px); }
  .what .what-case .slick-dots {
    bottom: -40px; }
    .what .what-case .slick-dots li.slick-active button:before {
      background-color: #3089b8; }
    .what .what-case .slick-dots li button:before {
      content: "";
      background-color: #cccccc;
      border-radius: 50%;
      width: 10px;
      height: 10px; }
  .what .what-case .slick-arrow:before {
    display: none; }
  .what .what-case .slick-prev {
    left: -40px; }
  .what .what-case .slick-next {
    right: -45px; }

.who .btn-button {
  margin: auto;
  border: 4px solid #333333;
  color: #333333;
  padding: 0 30px;
  margin-bottom: 70px;
  margin-top: 50px; }

.who .who-content {
  transform: translateY(60px); }

.who-people {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto; }
  .who-people .content {
    width: 48.5%;
    position: relative;
    margin-bottom: 13px; }
    .who-people .content .img {
      width: 100%;
      position: relative; }
      .who-people .content .img .info {
        background-color: #333333;
        color: white;
        display: inline-block;
        font-weight: bold;
        padding: 15px 43px;
        position: absolute;
        bottom: 0;
        letter-spacing: 1px; }
      .who-people .content .img img {
        width: 100%;
        display: block; }
      .who-people .content .img .title-who-people {
        font-size: 2.4rem;
        color: white;
        font-weight: bold;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: 0 50px;
        opacity: 0;
        transition: 0.5s ease-in-out; }
      .who-people .content .img:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(9, 120, 180, 0.596);
        transition: 0.5s ease-in-out; }
    .who-people .content .details {
      padding: 12px 20px; }
      .who-people .content .details .pos {
        font-size: 2.4rem;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        color: #333333; }
      .who-people .content .details p {
        color: #999999; }
    .who-people .content:hover {
      opacity: 1; }
      .who-people .content:hover .img:before {
        width: 100%; }
      .who-people .content:hover .img .title-who-people {
        opacity: 1; }
  .who-people .content:nth-child(2n) {
    margin-top: 40px; }

.how-title {
  transform: translateY(60px); }

.how-content {
  display: flex;
  justify-content: space-between; }
  .how-content .content {
    max-width: 660px;
    width: 100%;
    margin: auto; }
    .how-content .content .img {
      position: relative; }
      .how-content .content .img img {
        width: 100%; }
      .how-content .content .img .btn-how {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 320px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 0 30px; }
        .how-content .content .img .btn-how span {
          font-size: 1.8rem;
          color: #333333;
          font-weight: bold; }
        .how-content .content .img .btn-how img {
          transition: 0.5s ease-in-out; }
        .how-content .content .img .btn-how:hover img {
          transform: translateX(10px); }
    .how-content .content .details .text {
      max-width: 560px;
      width: 100%;
      margin: auto;
      padding: 40px 20px; }

.top-message {
  margin: 165px 0 140px 0; }
  .top-message .border-top-mess {
    border: 4px solid #eeeeee;
    height: 240px;
    position: relative;
    display: block; }
    .top-message .border-top-mess:hover .icon {
      transform: translateX(20px); }
  .top-message .top-mess-title {
    padding-left: 30px;
    transform: translateY(-41px);
    font-size: 6rem;
    color: #3089b8;
    font-family: "Montserrat", sans-serif; }
  .top-message .top-mess-content .img {
    position: absolute;
    bottom: 0;
    right: 79px; }
  .top-message .top-mess-content .content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .top-message .top-mess-content .content .text {
      max-width: 670px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .top-message .top-mess-content .content .text h3.title-text {
        font-size: 2.8rem;
        color: #333333; }
    .top-message .top-mess-content .content .icon {
      transition: 0.5s ease-in-out; }
  .top-message .top-mess-content .small {
    color: #333333; }

.recruit {
  background-color: #333333; }
  .recruit .title {
    color: white; }
  .recruit .recruit-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0; }
    .recruit .recruit-content a.btn-button {
      border: 4px solid white;
      color: white;
      padding: 30px; }

@media screen and (max-width: 1024px) {
  .recruit .recruit-content {
    flex-wrap: wrap; }
    .recruit .recruit-content h2.title {
      text-align: center;
      margin: auto; }
    .recruit .recruit-content .btn-button {
      margin: auto; } }

@media screen and (max-width: 768px) {
  .bg-content {
    transform: translate(0) !important;
    flex-wrap: wrap; }
    .bg-content .content {
      width: 100%; }
      .bg-content .content .title,
      .bg-content .content p {
        margin: auto;
        text-align: center; }
      .bg-content .content .title {
        font-size: 8rem; }
  .top-message .border-top-mess {
    height: unset; }
  .top-message .top-mess-title {
    transform: translateY(-27px);
    font-size: 4rem;
    padding-left: 10px; }
  .top-message .top-mess-content .img {
    width: 200px;
    right: 10px; }
    .top-message .top-mess-content .img img {
      width: 100%; }
  .top-message .top-mess-content .content {
    padding-bottom: 20px; }
    .top-message .top-mess-content .content .text {
      width: 60%; }
      .top-message .top-mess-content .content .text h3.title-text {
        font-size: 1.4rem; }
  .who-people .content {
    margin-top: 0 !important; }
  .what .btn-button {
    margin-top: 30px; }
  .what .what-content-main {
    flex-wrap: wrap; }
    .what .what-content-main .content {
      margin: auto;
      transform: translateY(0) !important; }
      .what .what-content-main .content .text-body {
        padding: 20px; }
  .what .what-case {
    width: 85%; }
    .what .what-case .case-content .content .text span {
      font-size: 2rem;
      margin-left: 0; }
    .what .what-case .slick-prev {
      left: -20px; }
    .what .what-case .slick-next {
      right: -25px; }
  .how-content {
    flex-wrap: wrap; }
  .recruit .recruit-content h2.title {
    font-size: 8rem; } }

@media screen and (max-width: 576px) {
  .mv-slide-top .scroll {
    bottom: 0px;
    right: -33px; }
    .mv-slide-top .scroll span {
      font-size: 1.2rem; }
    .mv-slide-top .scroll .img-scroll img {
      margin-top: 5px;
      width: 30px; }
  .bg-content {
    padding: 30px 0; }
    .bg-content .content .title {
      font-size: 5rem; }
  .top-message .top-mess-title {
    font-size: 3.2rem;
    transform: translateY(-23px); }
  .top-message .top-mess-content .content .text {
    width: 100%; }
    .top-message .top-mess-content .content .text .icon img {
      padding-left: 10px;
      width: 50px; }
  .top-message .top-mess-content .img {
    position: static;
    margin: auto; }
  .how-content .content .img .btn-how {
    width: 200px;
    padding: 10px; }
    .how-content .content .img .btn-how .icon img {
      width: 30px; }
  .mv-slide-top .name {
    font-size: 1.4rem;
    bottom: 10px; }
  a.btn-button {
    height: 60px;
    border-width: 3px !important; }
    a.btn-button span {
      font-size: 1.6rem; }
  .what .what-case {
    width: 80%; }
    .what .what-case .case-content {
      padding: 10px;
      flex-wrap: wrap; }
      .what .what-case .case-content .img {
        width: 100%;
        margin: 0 auto 20px auto; }
      .what .what-case .case-content .content .text {
        flex-wrap: wrap; }
        .what .what-case .case-content .content .text img {
          margin: 15px auto; }
  .who-people .content {
    max-width: 430px;
    width: 100%;
    margin: auto; }
  .btn-button .img img {
    width: 40px; }
  .recruit .recruit-content h2.title {
    font-size: 5rem; }
  .recruit .recruit-content a.btn-button {
    padding: 0 15px; } }
